:root {
    --bs-btn-close-color: red;
}

.list-group::-webkit-scrollbar {
    width: 8px;
}
.list-group::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.list-group::-webkit-scrollbar-thumb {
    background: #888;
}
.list-group::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.btn-close {
    color: var(--bs-btn-close-color) !important;
}