@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply overflow-hidden bg-white;
    }
}

.list-group::-webkit-scrollbar {
    width: 8px;
}
.list-group::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.list-group::-webkit-scrollbar-thumb {
    background: #888;
}
.list-group::-webkit-scrollbar-thumb:hover {
    background: #444;
}

.btn-close {
    color: var(--bs-btn-close-color) !important;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
