/* Define the hover state for the button */
.buttonHoverEffect:hover {
    background-color: rgb(
        217,
        29,
        29
    ) !important; /* Button background color on hover */
}

.boardCardContainer {
    transition: transform 0.3s ease; /* Smooth transition for the transform */
}

.boardCardContainer:hover {
    transform: scale(1.01); /* Increase size by 2% on hover */
}

.topShadow {
    box-shadow: 0 -4px 6px -1px rgba(0, 0, 0, 0.1),
        0 -2px 4px -1px rgba(0, 0, 0, 0.06);
}
